{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <div>
      <section id="about"></section>
  <section class="download-now" id="getstarted">
        <div class="container">
		 <div class="section-header">
                <h2 class="section-title wow fadeInDown">About Us</h2>
            </div>

          <div class="row">
            <div class="col-md-8 wp1 animated fadeInUp">
                <h3>1. Responsible</h3>
<p>First and foremost, having a responsible taxi cab driver is arguably the most important quality for any taxi driver to possess.

As a passenger, you want to have peace of mind that you're in safe hands and that your driver is acting responsibly. This could mean anything from obeying the rules of the road and traffic limits to practicing car safety and maintaining a clean vehicle.

You want to feel comfortable that you will be delivered to your destination without harm or undue stress.

</p><h3> 2. Local Knowledge</h3><p>
Next, it's crucial that your taxi cab driver possesses impeccable local and current knowledge of the road.

Is the main highway engulfed in construction?

Was there an accident that shut down the main road leading to the airport?

Whatever it might be, you're relying on your taxi cab driver to find the best route to your destination possible. This means saving both parties time and delivering you to your address in as timely a manner as possible.

</p><h3> 3. Patient</h3><p>
As with most jobs, taxi cab drivers are going to experience both good passengers and bad passengers.

In most cases, good passengers will nearly always outweigh the bad passengers. However, it's only realistic to assume that every cab driver is going to experience a number of passengers that are stressed, frustrated, upset, late for an early flight or inebriated.

In these moments, it's crucial for cab drivers to exercise patience. Without the notion of patience and understanding, cab drivers will tire of their less-than-ideal passengers very quickly.

The best cab drivers are those that understand that their passengers will exert a wide range of emotions. A good cab driver is capable of picking up on such emotions and acting appropriately. It's crucial for cab drivers to read their audience and determine the best means of communication.

</p><h3> 4. Punctual And Honest</h3><p>
It's imperative that every taxi cab driver operates a service that is both honest and punctual.

This means getting you to your destination on time and avoiding potentially unnecessary routes. It's also crucial to trust that your taxi driver is not taking advantage of you or increasing their fees. This is especially the case if you're traveling to a new destination and are unaware of the local customs.

With this, you always want to trust that your taxi cab driver has your best intentions in mind. This means delivering you to your location in the fastest and most efficient way possible.

</p><h3> 5. Cleanliness And Hygiene</h3><p>
Stepping into a taxi cab, you should always expect the vehicle itself to be clean, tidy and organized. This means no leftover garbage, clean seating and an environment free from dust or debris.

In a way, a taxi cab driver's vehicle is almost like their office. That being said, a clean and hygienic vehicle reveals a lot about one's sense of professionalism. A clean cab is almost always going to result in a better experience for the passenger.

Setting yourself up for success at the beginning of each day is going to better your chances of success overall. For example, one study found that people who make their beds each morning are 19% more likely to get a better night's rest. Similarly, if a taxi cab is cleaned and organized each morning, both parties are more likely to benefit from a better experience throughout the day.

</p><h3>6. Problem Solver </h3><p>
As with nearly any profession, taxi cab drivers are going to experience a number of unforeseen problems or distractions on the job.

The difference between a good taxi driver and a bad taxi driver is the ability to solve these unforeseen issues quickly. This could be anything from a problem with the vehicle itself to a getting stuck in a major traffic jam. In order to satisfy the customer, the driver must determine an efficient solution.

The best taxi cab drivers are those who are capable of thinking on their toes and acting quickly. These are the drivers that work well under pressure and can deliver results. This might entail finding an alternate route or encouraging an alternate drop-off location.

</p><h3>7. Hospitable </h3><p>
At the end of the day, you want your cab driver to be as hospitable as possible. From the perspective of the driver, the goal is to create a comfortable and pleasant environment for each and every passenger.

The best taxi drivers offer polite greetings to their passengers and assist them with any bags or luggage. If the passenger is in need of physical assistance when entering and exiting the vehicle, a quality driver will be readily available to help.

As a passenger, you want to feel comfortable and safe whilst in their vehicle. This might mean maintaining a pleasant conversation or simply enjoying a comfortable silence.

</p><h3> Taxi Cab Service Qualities</h3><p>
When it comes to hiring a taxi cab, every passenger wants to have peace of mind that their driver is of the highest quality.

Of course, this entails having a driver that is well-trained on the road and operates a safe and clean vehicle. But, it also involves important service qualities such as a driver that is hospitable, patient and always acts honestly with their passengers.

To distinguish the good from the bad, be sure to use this guide outlining what you should expect from your taxi cab driver.

Are you looking for a high-quality taxi cab service? If so, be sure to book a ride request with us today! </p>

            </div>
          </div>
        </div>
      </section>

</div>
</div>
{% endblock content %}