{% extends 'rcbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
 <div><h2>Replied Complaints</h2></div>
  <table class="table">
    <tr >
      <th>User</th>
      <th>Complaint</th>
         <th>Reply</th>
      <th>Date</th>
        <th></th>

    </tr>
    {% for data in table %}
    <tr>

        <td>{{data.1}}</td>
        <td>{{data.2}}</td>
        <td>{{data.4}}</td>
        <td>{{data.3}}</td>
        <td><a href="../edit_reply_complaints/{{data.0}}">Edit Reply</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}