{% extends 'pcbase.html' %}
{% load static %}
{% block content %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
 <table style="width:80%" class="table">
    <tr>

        <th></th>
        <TH ></TH>

        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tr>

        <td colspan="7"><div class="container" align="center">No {{val}} Added Yet</div></td>
    </tr>
 </table>
</div>
{% endblock content %}